:host {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: var(--spacing-default) var(--spacing-default) 0 calc(var(--spacing-default) + 24px);
}

app-cart-toggle {
  margin-right: 32px;
}