:host {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--spacing-default) / 2);

  @media (min-width: 48rem) {
    padding-top: 0;
  }
}

picture {
  display: inline-block;
  width: 168px;
  height: 168px;
  margin: var(--spacing-default) 0;

  .profile-image {
    width: 100%;
    border-radius: 50%;
  }
}

.app-button {
  margin-top: var(--spacing-default);
}