:host {
  display: grid;
  grid-template-columns: max(100%, 21rem) max(100%, 21rem);
  grid-template-rows: minmax(0, 1fr); // 100% of height
  align-items: start;
  height: 100%;
  gap: var(--spacing-default);

  .book {
    height: 100%;
  }

  .details-container {
    transform: none;
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    max-height: 100%;


    height: 100%;
    transform: translateX(calc((100% + var(--spacing-default)) * -1));

    .details-panel {
      position: relative;
      height: 100%;
    }

    @media (max-height: 21rem) {
      max-height: unset;
      height: revert;
    }
  }

  @media (min-width: 48rem) {
    grid-template-columns: repeat(auto-fill, minmax(21rem, 30%));

    .details-container {
      height: revert;
      transform: none;

      .details-panel {
        height: revert;
      }
    }
  }
}

.input-container {
  position: relative;

  input {
    padding-right: 32px;
  }

  button {
    position: absolute;
    right: 0;
    height: 100%;
    background-color: transparent;
  }
}

.list-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .search-wrapper {
    position: sticky;
    top: 0;
    padding: 8px;

    input {
      width: 100%;
      height: 48px;
    }
  }

  .contacts-list {
    margin-right: -8px;
    padding-right: 8px;
    overflow-y: auto;
  }
}

app-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
}