@mixin theme-colors() {
  :root {
    --color-primary-50: hsl(195, 100%, 96%);
    --color-primary-100: hsl(195, 82%, 91%);
    --color-primary-200: hsl(196, 77%, 86%);
    --color-primary-300: hsl(195, 75%, 81%);
    --color-primary-400: hsl(195, 73%, 77%);
    --color-primary-500: hsl(195, 72%, 71%);
    --color-primary-600: hsl(194, 65%, 50%);
    --color-primary-700: hsl(195, 72%, 42%);
    --color-primary-800: hsl(194, 74%, 34%);
    --color-primary-900: hsl(194, 76%, 25%);
    --color-primary-1000: hsl(194, 82%, 18%);
    --color-primary-1100: hsl(194, 85%, 11%);

    --color-accent: hsl(17, 95%, 57%);

    --color-gray-50: hsl(0, 0%, 100%);
    --color-gray-100: hsl(0, 0%, 94%);
    --color-gray-200: hsl(0, 0%, 91%);
    --color-gray-300: hsl(0, 0%, 86%);
    --color-gray-400: hsl(0, 0%, 83%);
    --color-gray-500: hsl(0, 0%, 78%);
    --color-gray-600: hsl(0, 0%, 51%);
    --color-gray-700: hsl(0, 0%, 45%);
    --color-gray-800: hsl(0, 0%, 45%);
    --color-gray-900: hsl(0, 0%, 36%);
    --color-gray-1000: hsl(0, 0%, 22%);
    --color-gray-1100: hsl(0, 0%, 9%);

    --color-hyperlink: var(--color-primary-800);

    --color-heading: hsl(195, 49%, 27%);

    --color-highlight: var(--color-primary-50);

    --color-text-disabled: hsl(0, 0%, 73%);
  }
}

@mixin typography() {

  *,
  *:before,
  *:after {
    font-family: 'OpenSans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Rajdhani', sans-serif;

    * {
      font-family: inherit;
    }
  }
}

@mixin light-mode-colors() {
  --color-background: var(--color-gray-50);
  --color-text: var(--color-gray-900);

  --color-secondary-bg: var(--color-gray-100);
  --color-secondary-text: var(--color-gray-900);
}

@mixin dark-mode-colors() {
  --color-background: var(--color-gray-100);
  --color-text: var(--color-gray-900);

  --color-secondary-bg: var(--color-gray-50);
  --color-secondary-text: var(--color-gray-900);
}

html {
  /* Official styles (Firefox) */
  scrollbar-color: var(--color-gray-300) var(--color-background);
  scrollbar-width: thin;
}

@media (min-width: 768px) {
  html {
    /* Official styles (Firefox) */
    scrollbar-color: var(--color-gray-300) var(--color-background);
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-background);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 1000px;
    background-color: var(--color-gray-300);
    border: 2px solid var(--color-background);
  }

  /*
    Little bonus: on non-Firefox browsers,
    the thumb will light up on hover!
  */
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-gray-500);
  }
}

body {
  @include light-mode-colors();

  &.dark-mode {
    @include dark-mode-colors();
  }
}